The scripts in this repository require the statistical programming language R, version 4.2.3 or later.
Additionally, they require the following R packages:
broom (version 1.0.4)
car (version 3.1-2)
conflicted (version 1.2.0)
contentid (version 0.0.17)
cowplot (version 1.1.1)
dataRetrieval (version 2.7.12)
deltamapr (version 1.0.0, commit d0a6f9c22aa074f906176e99a0ed70f97f26fffd)
devtools (version 2.4.5)
DHARMa (version 0.4.6)
dtplyr (version 1.3.1)
effects (version 4.2-2)
emmeans (version 1.8.5)
fs (version 1.6.2)
ggsn (version 0.5.0)
here (version 1.0.1)
hms (version 1.1.3)
imputeTS (version 3.3)
kableExtra (version 1.3.4)
knitr (version 1.42)
leaflet (version 2.1.2)
lme4 (version 1.1-32)
lmerTest (version 3.1-3)
mapview (version 2.11.0)
multcomp (version 1.4-23)
patchwork (version 1.1.2)
qs (version 0.25.5)
rlang (version 1.1.1)
scales (version 1.2.1)
sf (version 1.0-12)
tidyverse (version 2.0.0)
tigris (version 2.0.3)
visreg (version 2.7.0)